@import url("https://fonts.googleapis.com/css?family=Karla");

$primary-color: #FEFCFC;
$bttn-color-pnk: #FFBFDC;
$bttn-color-grn: #76D3C8;
$bttn-color-gry: #C6C5C5;
$text-color: #000000;
$text-bttn-color: #FEFCFC;
$border-color: #C6C5C5;


$font: "Karla";