
    .image-container{
        object-fit: cover;
        height: 15vh;
        width: 20vw;
    }
    
    .map-container {
        margin-left: 25%;
        margin-top: 5vh;
    
        width: 50%;
        height: 30vh;
        z-index: 0;
      
        .marker {
          z-index: 1;
        }
      }    
      
    
    

 



  