.shuffle{
    display: flex;
    flex-direction: column;
    align-items: center;
  .carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vh;
    
    
    .image-container{
        object-fit: cover;
        max-height: 70vh;
        min-height: 70vh;
        width: 70vw;
    }

    .buttons{
        display: flex;
        width: 20vw;
        justify-content: space-between;
        margin-top: 2vh;
        box-sizing: border-box;
        .btn1{
           font-family: "Karla";
           width: 100px;
        font-size: 15px;
        font-weight: bold;
        background: #FFBFDC;
        border: 1px solid ;
        border-radius: 25px;
        box-shadow: 3px 5px 8px -2px lightgray;
        }
        
       
      

    }
.description {
    display: flex;
    justify-content: center;
    width: 60vw;
    margin-top: 3vh;
    text-align: center;
}
    
    
      
    
    
}  
}
.hasard{
      display: flex;  
      justify-content: space-between;
      width: 40vw;
      position: absolute;
      top: 90vh;
      left: 30vw;
      .btn1 {
        box-sizing: border-box;
        width: 10vw;
        
        font-family: "Karla";
        font-size: 15px;
        font-weight: bold;
        background: #FFBFDC;
        border: 1px solid ;
        border-radius: 25px;
        box-shadow: 3px 5px 8px -2px lightgray;
      }
      .btn2{
        box-sizing: border-box;
        width: 10vw;
        
        font-family: "Karla";
        font-size: 15px;
        font-weight: bold;
        background: #76D3C8;
        border: 1px solid ;
        border-radius: 25px;
        box-shadow: 3px 5px 8px -2px lightgray;
        false{
          background: #eb2e2e;
        }}
        
      }
      .hasard3{
        position: absolute;
        left: 24vw;
        bottom:9vh;
        
        .btn3{
          box-sizing: border-box;
            
            width: 250px;
            height: 60px;
            font-family: "Karla";
            font-size: 35px;
            font-weight: bold;
            background: #FFBFDC;
            border: 1px solid ;
            border-radius: 25px;
            box-shadow: 3px 5px 8px -2px lightgray;
            }
      }
        
   
 
    

