.shuffle{
  display: flex;
  flex-direction: column;
  align-items: center;
.carousel{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vh;
  
  
  .image-container{
      object-fit: cover;
      max-height: 70vh;
      min-height: 70vh;
      width: 70vw;
  }

  .buttons{
      display: flex;
      width: 30vw;
      justify-content: space-between;
      margin-top: 2vh;
      box-sizing: border-box;
      gap: 100px;
      .btn1{
         font-family: "Karla";
         width: 120px;
         height: 30px;
      font-size: 20px;
      font-weight: bold;
      background: #FFBFDC;
      border: 1px solid ;
      border-radius: 25px;
      box-shadow: 3px 5px 8px -2px lightgray;
      }
      
     
    

  }
.description {
  display: flex;
  justify-content: center;
  width: 60vw;
  margin-top: 3vh;
  text-align: center;
}
  
  
    
  
  
}  
}
.hasard{
    display: flex;  
    justify-content: space-between;
    width: 40vw;
    position: absolute;
    left:30vw;
    top:90vh;
    .btn1 {
      box-sizing: border-box;
      width: 10vw;
      
      font-family: "Karla";
      font-size: 15px;
      font-weight: bold;
      background: #FFBFDC;
      border: 1px solid ;
      border-radius: 25px;
      box-shadow: 3px 5px 8px -2px lightgray;
    }
    .btn2{
      
      box-sizing: border-box;
      width: 10vw;
      height: 40px;
      font-family: "Karla";
      font-size: 15px;
      font-weight: bold;
      background: #76D3C8;
      border: 1px solid ;
      border-radius: 25px;
      box-shadow: 3px 5px 8px -2px lightgray;
      false{
        background: #eb2e2e;
      }}
      
    }
   
      
 


.hasard2{
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap:300px;

    .btn1 {
      box-sizing: border-box;
      width: 10vw;
      
      
      font-family: "Karla";
      font-size: 15px;
      font-weight: bold;
      background: #FFBFDC;
      border: 1px solid ;
      border-radius: 25px;
      box-shadow: 3px 5px 8px -2px lightgray;
    }
    .btn2{
      box-sizing: border-box;
      width: 10vw;
      margin-top: 30vh;
      
      font-family: "Karla";
      font-size: 15px;
      font-weight: bold;
      background: #76D3C8;
      border: 1px solid ;
      border-radius: 25px;
      box-shadow: 3px 5px 8px -2px lightgray;
      false{
        background: #eb2e2e;
      }
    }
}
.hasard4{
  display:flex;
  align-items: center;
  gap:300px;
}
 .hasard3{
  margin-left: 18vw;
      display: flex;
      align-items: center;
      
      gap:200px;
      .btn1 {
        box-sizing: border-box;
        width: 25vw;
        height:50px;
        font-family: "Karla";
        font-size: 20px;
        font-weight: bold;
        background: #FFBFDC;
        border: 1px solid ;
        border-radius: 25px;
        box-shadow: 3px 5px 8px -2px lightgray;
      }
      .btn2{
        box-sizing: border-box;
        width: 25vw;
       height: 50px;
        
        font-family: "Karla";
        font-size: 25px;
        font-weight: bold;
        background: #76D3C8;
        border: 1px solid ;
        border-radius: 25px;
        box-shadow: 3px 5px 8px -2px lightgray;
        false{
          background: #eb2e2e;
        }
      }
      
      .btn3{
        position: absolute;
        top: 84.5vh;
        left: 20vw;
        box-sizing: border-box;
          width: 250px;
          height: 60px;
          font-family: "Karla";
          font-size: 35px;
          font-weight: bold;
          background: #FFBFDC;
          border: 1px solid ;
          border-radius: 25px;
          box-shadow: 3px 5px 8px -2px lightgray;
          }
    }